{% extends 'main.html' %} {% load static %} {% block css_styles %}
<link rel="stylesheet" href="{% static 'css/aw.css' %}" />
{% endblock css_styles %} {% block content %}

<h1>User List</h1>
<ul>
  <li>{{ users.id }}</li>
  <li>Id: {{ users.user_id }}</li>
  <li>Password: {{ users.password }}</li>
  <li>Last Login: {{ users.last_login }}</li>
  <li>Is Superuser: {{ users.is_superuser }}</li>
  <li>Username: {{ users.username }}</li>
  <li>First_name: {{ users.first_name }}</li>
  <li>Last_name: {{ users.last_name }}</li>
  <li>Email: {{ users.email }}</li>
  <li>Is Staff: {{ users.is_staff }}</li>
  <li>Is Active: {{ users.is_active }}</li>
  <li>Date Joined: {{ users.date_joined }}</li>
  <li>Telephone: {{ users.telephone }}</li>
</ul>

{% endblock content %} Lorem ipsum dolor sit amet consectetur adipisicing elit.
Quam sed rem soluta enim, non eos optio, voluptatum aut natus, officiis iure
eligendi maxime libero. Accusamus voluptatum illum dolor assumenda voluptatem?
