{% extends 'main.html' %} {% block content %}

<form class="row g-3" method="post">
  {% csrf_token %}
  <div class="col-md-6">
    <label class="form-label">Firstname</label>
    {{ form.first_name }}
  </div>
  <div class="col-md-6">
    <label class="form-label">LastName</label>
    {{ form.last_name }}
  </div>
  <div class="col-md-6">
    <label class="form-label">Age</label>
    {{ form.age }}
  </div>
  <div class="col-md-4">
    <label class="form-label">Agent</label>
    {{ form.agent }}
  </div>
  <div class="col-12 btn-group mt-2" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-success" href="{% url 'leads:lead_detail' object.pk %}"
      >Go Back</a
    >
  </div>
</form>

{% endblock content %}
