<!-- Navbar nav scrolling -->
<nav
  class="navbar navbar-expand-lg"
  style="
    background-color: var(--bs-content-bg);
    border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'leads:lead_list' %}">
      <!--
      <img
        src="..."
        alt="Logo"
        width="24"
        height="24"
        class="d-inline-block align-text-top"
      />
      -->
      Builder
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse-7"
      aria-controls="navbar-collapse-7"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-7">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" href="{% url 'leads:lead_list' %}">Home</a>
        </li>

        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'leads:lead_list' %}"
            >Registration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}"
            >Sign-In</a
          >
        </li>
        {% endif %} {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}"
            >Sign-Out</a
          >
        </li>
        {% endif %}
      </ul>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search docs"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
